<h1>Edit Article</h1>
<%= render 'form' %>

<p>
  <%= link_to 'Cancel & go to Articles page', articles_path %>
</p>
<p>
  <%= link_to 'HOME', root_path %>
</p>
<p>
  <%= link_to 'About', about_path %>
</p>
