<div id="page-content">
	<div class="container" id = "home-container">
	  <div class="jumbotron text-center">
	    <h1 class="display-4">Alpha - BlogLucha</h1>
	    <div class = "transbox">
				<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	      <hr class="my-4">
			</div>
	    <button class="btn-home"><span> ENTER </span></button>
	  </div>
	</div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-light">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to 'Ljubomir Lukić', 'https://luchait.github.io/personal-cv/', class: 'text-light' %></small>
  </div>
</footer>
