@import 'bootstrap/dist/css/bootstrap';


.navbar {
	background-color: #304d4e !important;
}

#logo {
	float: left;
	font-size: 1.7em;
	font-weight: bolder;
	font-family: cursive;
	letter-spacing: -1px;
	color: #F3FBF1 !important;
}

.nav-link {
	font-size: 2rem;
	color: #f0d699 !important;
	margin-left: 5px;
}

a {
	color: #303030;
}

a:hover {
	color: #f0d699;
	text-decoration: none;
}

h1 {
	color: #303030;
	font-weight: bolder !important;
}

// This is code for baton style in jumbotron

.btn-home {
	background-color: #8a9e52;
	border-color: #f0d699;
	color: #f0d699;
	height: 3rem;
	width: 7rem;
	cursor: pointer;
	font-weight: bold;
}




#home-container {
	margin-top: 25px;
}

.jumbotron{
	background-image: asset-url('sebastian-unrau-unsplash.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #303030;
	font-weight: bolder;
}

.transbox {
  margin: 30px;
	background: rgba(76, 175, 80, 0.3);
  border: 1px solid black;
}

.transbox > p{
	margin: 0 250px;
	font-size: 1em;
	text-transform: uppercase;
	height: 150px;
	color: #303030;
}

.my-4{
	border-top: 1px solid #4b7551;
	margin: 0 250px;
}

// Footer ******

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
	background: #8a9e52;
}

#sticky-footer {
  flex-shrink: none;
}
//*******************************

.text-light {
	color: #F2FAF0 !important;
}

.dropdown-item{
	color: #f0d699 !important;
}
.dropdown-item:hover{
		color: #4b7551 !important;
}
