<footer id="sticky-footer" class="py-4 bg-dark text-light">
	<div class="container text-center">
		<small>Copyright &copy; <%= link_to 'Ljubomir Lukić', 'https://luchait.github.io/personal-cv/', class: 'text-light' %></small>
	</div>
</footer>
